#top {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-background-color: #33383d;
    -fx-text-fill: white;
}

#left {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: hidden solid hidden hidden;
    -fx-background-color: #33383d;
    -fx-text-fill: white;
}

#center {
    -fx-background-color: #33383d;
    -fx-text-fill: white;
}

#selectedBtn {
    -fx-background-color: limegreen;
    -fx-background-radius: 4px;
}

#initiateBtn {
    -fx-background-color: limegreen;
}

#cancelBtn {
    -fx-background-color: crimson;
}
