#top {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: hidden hidden solid hidden;
}

#left {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: hidden solid hidden hidden;
}

#selectedBtn {
    -fx-background-color: royalblue;
    -fx-background-radius: 4px;
}

#initiateBtn {
    -fx-background-color: royalblue;
}

#cancelBtn {
    -fx-background-color: crimson;
}